services:

  db:
    image: postgres:17
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    volumes:
      - app-db-data:/var/lib/postgresql/data/pgdata
    env_file:
      - .env
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD?Variable not set}
      - POSTGRES_USER=${POSTGRES_USER?Variable not set}
      - POSTGRES_DB=${POSTGRES_DB?Variable not set}
    networks:
      - db_network

  adminer:
    image: adminer:latest
    restart: always
    ports:
      # Access Adminer in your browser at http://localhost:8080
      - "8080:8080"
    environment:
      # This variable tells Adminer the hostname of the database server
      # The hostname should match the service name in the compose file
      ADMINER_DEFAULT_SERVER: db
    networks:
      - db_network

  api:
    build:
      context: .
    restart: always
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER?Variable not set}:${POSTGRES_PASSWORD?Variable not set}@db:5432/${POSTGRES_DB?Variable not set}
    ports:
      - "8003:8000"
    command: ["uvicorn", "order_manager_api.main:app", "--host", "0.0.0.0"]
    networks:
      - db_network
volumes:
  app-db-data:


networks:
  db_network:
    driver: bridge